# create first k8s deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
  namespace:
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-container
        image: g3niuz/mybucks:latest
        ports:
        - containerPort: 80 

---
# create first k8s service
apiVersion: v1
kind: Service
metadata:
  name: my-service
  namespace:
spec:
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer
